<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails | Contact</title>
	</head>
	<body>
		<h1>Sample App</h1>
<p>
	This is the contact page of the        
 <a href = "http://railstutorial.org/">Ruby on Rails</a>
      Sample Application</p>
		</body>
	
</html>